{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<link rel="stylesheet" href="../../css/leaflet.css?v={{ .Site.Params.version }}">
<link rel="stylesheet" href="../../css/L.Control.Locate.min.css?v={{ .Site.Params.version }}">
<link rel="stylesheet" href="../../css/OverPassLayer.css?v={{ .Site.Params.version }}">
<link rel="stylesheet" href="../../css/leaflet-gesture-handling.css?v={{ .Site.Params.version }}">
<link rel="stylesheet" href="../../css/map.css?v={{ .Site.Params.version }}">

<script src="../../js/leaflet.js?v={{ .Site.Params.version }}"></script>
<script src="../../js/L.Control.Locate.min.js?v={{ .Site.Params.version }}"></script>
<script src="../../js/OverPassLayer.bundle.js?v={{ .Site.Params.version }}"></script>
<script src="../../js/overpass-layer.js?v={{ .Site.Params.version }}"></script>
<script src="../../js/i18next.min.js?v={{ .Site.Params.version }}"></script>
<script src="../../js/i18nextBrowserLanguageDetector.min.js?v={{ .Site.Params.version }}"></script>
<script src="../../js/i18n-resources.js?v={{ .Site.Params.version }}"></script>
<script src="../../js/suncalc.js?v={{ .Site.Params.version }}"></script>
<script src="../../js/opening_hours.js?v={{ .Site.Params.version }}"></script>
<script src="../../js/opening_hours_table.js?v={{ .Site.Params.version }}"></script>
<script src="../../js/leaflet-gesture-handling.js?v={{ .Site.Params.version }}"></script>
<script src="../../js/map.js?v={{ .Site.Params.version }}"></script>

<div id="map-container">
    <div id="map"></div>
</div>
<div id="map-filters" class="closed"><i class="fa fa-spin fa-spinner"></i></div>

<script>
    map_filters = [];
{{ range .Params.mapFilters }}
    map_filters[{{ strings.ToUpper .name }}] = {{ .query }};
{{ end }}

    build_map_filters(map_filters);

    i18next.init({
        lng: 'it'
    });
    
    var map = L.map('map', { gestureHandling: false }).setView([45.2280, 11.6573], 15);
    map.zoomControl.setPosition('bottomleft');
    L.control.locate().addTo(map).setPosition('bottomleft');
    L.tileLayer('https://tile.jawg.io/jawg-streets/{z}/{x}/{y}{r}.png?access-token=mDZt1XOcvo6qOxBEoau9CpAdZKCeafwkAXXA2WznmekkppL0MH3FyhXutKFW1WQk', {
        attribution: "<a href=\"https://www.jawg.io?utm_medium=map&utm_source=attribution\" target=\"_blank\">&copy; Jawg</a> - <a href=\"https://www.openstreetmap.org?utm_medium=map-attribution&utm_source=jawg\" target=\"_blank\">&copy; OpenStreetMap</a>&nbsp;contributors"
    }).addTo(map);

    // Connect to Overpass API - you can also use a (small) .osm file as data source
    var overpassFrontend = new OverpassFrontend('//overpass-api.de/api/interpreter')

    // Create the layer
    var layer = new OverpassLayer({
        overpassFrontend: overpassFrontend,
        query: '{{ .Params.overpassQuery }}',
        minZoom: 15,
        feature: {
            exclude: true   // disable library rendering
        }
    }).on('add', function(ob, data) {
        var pos;
        var marker;
        const e = ob.data;
        info = POIinfo(e, map_filters);

        var marker_png = 'marker-icon-2x-undefined.png';
        if (info.is_open == true) {
            marker_png = 'marker-icon-2x-open.png';
        } else if (info.is_open == false) {
            marker_png = 'marker-icon-2x-closed.png';
        }

        customIcon = L.icon({
            iconUrl: '../../images/' + marker_png + '?v={{ .Site.Params.version }}',
            iconSize: [40, 40],
            popupAnchor: [0, -20],

            shadowUrl: '../../images/marker-shadow.png?v={{ .Site.Params.version }}',
            shadowSize:   [40, 40],
            shadowAnchor: [12, 20],
        });

        if (e.type === 'node') {
            pos = L.latLng(e.lat, e.lon);
        } else {
            // FIXME: e.center is undefined
            pos = L.latLng(e.center.lat, e.center.lon);
        }
        
        marker = L.marker(pos, { icon: customIcon });
        marker.html = info.html;
        setPopupContent(marker);
        marker.tags = e.tags;

        all_markers.push(marker);
        marker.addTo(map);
        filter_markers(null, [marker]);
    });

    layer.addTo(map);
</script>

{{ end }}