#map-container {
    width: 100vw;
    height: calc(100vh - 9rem);
}

#map {
    height: 97%;
}

body #map-container th,
body #map-container td {
    padding: 0.6rem;
}

.leaflet-popup-content {
    font-size: 1.5em !important;
    min-width: 300px;
    max-height: 100% !important;
}

.leaflet-container {
    font-size: 1rem;
}

#map h2 {
    color: #484848;
    font-size: 1.7em;
    line-height: 1.2em;
    margin: 1em 0 0.3em;
}

#map h3 {
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 0.3em 0 0.3em;
}

#map p.closed,
#map p.open {
    margin: 1px 0;
}

#map p.closed {
    color: rgb(194, 33, 33);
}

#map p.open {
    color: rgb(47, 156, 52);
}

.btn,
a.btn {
    padding: 10px 5px;
    text-align: center;
    display: block;
    opacity: 1;
    transition: all 0.2s;
    background: #eee;
    color: #333;
    margin-bottom: 3px;
    text-decoration: none;
    font-family: Kanit;
}

.btn:hover {
    opacity: 0.8;
}

.btn-block {
    width: 100%;
}

.btn.btn-phone {
    background: #18B100;
    color: #fff;
    font-weight: bold;
}

.btn.btn-mobile {
    background: #0099b1;
    color: #fff;
    font-weight: bold;
}

.btn.btn-geo {
    background: #D0000F;
    color: #fff;
    font-weight: bold;
}

.btn.btn-email {
    background: #008577;
    color: #fff;
    font-weight: bold;
}

.btn.btn-website {
    background: #D65B00;
    color: #fff;
    font-weight: bold;
}

#map-filters {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 30vh;
    background: #fcfcfc;
    padding: 1%;
    box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    --height: 100;
}

#map-filters.closed {
    bottom: -23vh;
}

#map-filters h3 {
    margin: 0 0 20px;
    cursor: pointer;
}

#map-filters>div {
    height: 80%;
    overflow: scroll;
}

#map-filters label {
    cursor: pointer;
}

.col {
    width: 20%;
    float: left;
    margin-bottom: 6px;
}

footer {
    display: none;
}

.content {
    margin-bottom: 0;
}



.checkboxes+p {
    text-align: center;
}

.check input {
    display: none;
}

.check input:checked+label .box {
    -webkit-animation: animOnTransform 0.5s 1 forwards;
    animation: animOnTransform 0.5s 1 forwards;
    background: rgba(174, 207, 164, 0.5);
}

.check input:checked+label .box i {
    transform: translate(-50%, -50%) scale(1);
    transition-duration: 200ms;
    transition-delay: 400ms;
    opacity: 1;
    color:rgb(47, 156, 52);
}

.check label {
    min-width: 100px;
    min-height: 60px;
    cursor: pointer;
}

.check label .box {
    background: rgba(209, 209, 209, 0.5);
    border-radius: 5px;
    position: relative;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 4px 0 0;
    transition: background 300ms ease;
}

.check label .box:hover {
    background: rgba(78, 168, 75, 0.5);
}

.check label .box i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    display: inline-block;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    transition-delay: 200ms;
    transform: translate(-50%, -50%) scale(4);
}

@-webkit-keyframes animOn {
    40% {
        height: 20px;
        width: 100px;
    }

    50% {
        height: 60px;
        width: 30px;
    }

    60% {
        height: 40px;
        width: 70px;
    }

    70% {
        height: 55px;
        width: 45px;
    }

    100% {
        height: 50px;
        width: 50px;
    }
}

@keyframes animOn {
    40% {
        height: 20px;
        width: 100px;
    }

    50% {
        height: 60px;
        width: 30px;
    }

    60% {
        height: 40px;
        width: 70px;
    }

    70% {
        height: 55px;
        width: 45px;
    }

    100% {
        height: 50px;
        width: 50px;
    }
}

@-webkit-keyframes animOnTransform {
    40% {
        transform: scale(1.5, 0.5);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    60% {
        transform: scale(1.3, 0.6);
    }

    70% {
        transform: scale(0.8, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes animOnTransform {
    40% {
        transform: scale(1.5, 0.5);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    60% {
        transform: scale(1.3, 0.6);
    }

    70% {
        transform: scale(0.8, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}
