@media (max-width: 768px) {
    .navigation .navigation-list{
        z-index: 9999;
    }

    .navigation-item > ul.childrens{
        width: 100%;
    }

    .navigation-item-sub{
        padding: 0;
    }

    #map-container {
        height: calc(100vh - 14rem) !important;
    }

    #map-filters{
        padding: 4% !important;
    }

    #map-filters .col{
        width: 100%;
    }

    .check label .box {
        width: 24px !important;
        height: 24px !important;
    }
}
