<footer class="footer">
  <section class="container">
    ©
    {{ if (and .Site.Params.since (lt .Site.Params.since now.Year)) }}
      {{ .Site.Params.since }} -
    {{ end }}
    {{ now.Year }}
    {{ with .Site.Params.author }} {{ . }} {{ end }}
    ·
    {{ if (and .Site.Params.license) }}
      {{ i18n "licensed_under" }} {{ .Site.Params.license | safeHTML }}
    ·
    {{ end }}
    {{ i18n "powered_by" }} <a href="https://gohugo.io/">Hugo</a> & <a href="https://github.com/luizdepra/hugo-coder/">Coder</a>
    {{ if (and .Site.Params.commit .GitInfo) }}
      [<a href="{{ .Site.Params.commit }}/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a>]
    {{ end }} - <a href="{{ .Site.BaseURL }}/privacy-policy">🔒 Privacy Policy</a><br>
    <a href="https://gitlab.com/ItalianLinuxSociety/mappe" target="_blank"><i class="fa fa-code"></i> Codice sorgente</a>
  </section>
</footer>
