<h1>{{ .Site.Params.info }}</h1>
{{ if reflect.IsSlice .Site.Params.description }}
<h2>{{ range .Site.Params.description }}{{ . | markdownify }}<br>{{ end}}</h2>
{{ else }}
<h2>{{ .Site.Params.description | markdownify }} </h2>
{{ end }}

<div class="text-center">
    <input type="text" id="search" class="search"
        placeholder="🔎 Cosa stai cercando?">
</div>

<link rel="stylesheet" href="{{ "css/jquery-ui.min.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/jquery-ui.theme.min.css" | relURL }}">

<script src="{{ "js/jquery.js" | relURL }}"></script>
<script src="{{ "js/jquery-ui.min.js" | relURL }}"></script>

<script>
    $(function () {
        var cache = {};
        $("#search").autocomplete({
            minLength: 2,
            source: function (request, response) {
                var term = request.term;
                if (term in cache) {
                    response(cache[term]);
                    return;
                }

                $.getJSON("search.json", request, function (data, status, xhr) {
                    filtered_data = {};
                    
                    $.each(data, function(index, item) {
                        if (item.label.toLowerCase().includes(request.term.toLowerCase())) {
                            filtered_data[index] = item;
                        }
                    });
                    data = filtered_data;

                    cache[term] = data;
                    response(data);
                });
            },
            select: function( event, ui ) {
                $('#search').effect('highlight');
                setTimeout( function(){
                    location.href = ui.item.url;
                }, 1000);
            }
        });
    });
</script>